.advantages {
  background: url('../img/bg/advantages-bg.jpg') center center/cover no-repeat;
  padding: 113px 0 117px;

  &__title {
    margin-bottom: 57px;
    text-align: center;
  }

  &__list {
    @include reset-list;
    display: flex;
    justify-content: space-between;

  }

  &__item {
    flex-basis: 360px;
    background: #F9FBFD;
    padding: 30px;
    color: #011C40;
    height: 240px;
  }

  &__icon {
    min-height: 41px;
    margin-bottom: 9px;
  }

  &__caption {
    font-size: 18px;
    font-weight: 500;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}
