.reservation {
  padding: 50px 0;
  background: url('../img/bg/reservation-bg.jpg') center center/cover no-repeat;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
  }

  &__text {
    max-width: 500px;
    color: #011C40;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
  }

  &__descr {
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    max-width: 350px;
  }

  &__form {}
}


.form {
  max-width: 404px;
  width: 100%;
  padding: 50px;
  background: #011C40;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
  color: #F9FBFD;

  &__title {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 150%;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-checkbox {
      display: flex;
      align-items: center;
    }

    input {

      &:hover,
      &:focus {
        outline: none;
      }
    }
  }

  &__content {}

  &__input {
    background: #F9FBFD;
    border: none;
    width: 100%;
    padding: 16px;

    &:focus {
      background: rgb(202, 203, 204);
    }
  }

  &__input-checkbox {
    visibility: hidden;
    opacity: 0;


    &:checked {
      &+.form__checkbox-text {
        &::before {
          background: #F9FBFD url(../img/icon-checker.svg) center center no-repeat;
        }
      }
    }
  }

  &__checkbox-text {
    font-size: 10px;
    line-height: 130%;
    font-weight: 400;
    position: relative;
    padding-left: 6px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      background: #F9FBFD;
      left: -16px;
    }
  }

  &__btn {
    background: #F9FBFD;
    border: none;
    width: 100%;
    padding: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
}
